In [601]:
import numpy as np
import pandas as pd

In [602]:
lawinen = pd.read_csv('data/Allg_Lawinen_Abgänge.csv')

In [603]:
import datetime as dt

lawinen['DATUM'] = lawinen['DATUM'].apply(lambda x: dt.datetime.strptime(x,'%Y-%m-%d %H:%M:%S') if type(x)==str else pd.NaT)
lawinen['ZEIT'] = lawinen['ZEIT'].apply(lambda x: dt.datetime.strptime(x,'%Y-%m-%d %H:%M:%S') if type(x)==str else pd.NaT)
lawinen

,DATUM,ZEIT,Lawinen_Art,GRNR,Volumen,Wetter,WIND_RCHTG,WIND_GSCHW,Temperatur,Schneehoehe,Neuschnee,Gefahr,Bemerkung
0,1957-02-27 00:00:00,1899-12-30 00:00:00,Grundlawine,43.0,NaN,Schneefall schwach,S,2.0,-5.0,280.0,4.0,0.0,NaN
1,1967-03-21 00:00:00,1899-12-30 00:00:00,Staublawine,13.0,NaN,bewölkt,SW,3.0,-7.0,0.0,10.0,0.0,NaN
2,1967-04-05 00:00:00,1899-12-30 07:20:00,Staublawine,13.0,NaN,Schneefall mäßig,NE,6.0,-5.0,320.0,25.0,NaN,NaN
3,1970-02-04 00:00:00,1899-12-30 00:00:00,Staublawine,13.0,NaN,Schneefall mäßig,SE,2.0,-6.0,118.0,32.0,NaN,NaN
4,1970-02-22 00:00:00,1899-12-30 10:49:00,Staublawine,13.0,NaN,Schneetreiben,SE,3.0,-3.0,170.0,25.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4095,2022-02-03 00:00:00,2022-02-03 00:00:00,Lockerschneelawine trocken,9.0,mittel,0,NO,5.0,0.0,NaN,5.0,4.0,NaN
4096,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4097,2022-02-08 00:00:00,NaT,Schneebrettlawine trocken,33.0,mittel,bedeckt,SW,20.0,-7.0,175.0,21.0,3.0,NaN
4098,NaT,NaT,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4099,2022-02-08 00:00:00,NaT,Schneebrettlawine trocken,43.0,klein,bewölkt,270,5.7,-1.0,175.0,21.0,3.0,NaN

In [604]:
lawinen.sort_values(by=['DATUM','ZEIT'],inplace=True)
lawinen

,DATUM,ZEIT,Lawinen_Art,GRNR,Volumen,Wetter,WIND_RCHTG,WIND_GSCHW,Temperatur,Schneehoehe,Neuschnee,Gefahr,Bemerkung
3486,0208-01-22 00:00:00,NaT,Schneebrettlawine trocken,43.0,mittel,Schneefall mäßig,135,5.0,-3.0,152.0,20.0,4.0,NaN
3493,0208-01-24 00:00:00,NaT,Schneebrettlawine trocken,14.0,klein,wolkenlos,225,3.0,4.0,156.0,0.0,3.0,NaN
491,1944-01-04 00:00:00,1899-12-30 16:00:00,Schneebrettlawine trocken,15.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
317,1944-12-28 00:00:00,1899-12-30 10:30:00,Schneebrettlawine trocken,7.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
1212,1945-03-08 00:00:00,1899-12-30 22:00:00,Staublawine,25.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3520,NaT,NaT,Lockerschneelawine naß,10.0,mittel,bedeckt,225,3.0,7.0,160.0,0.0,2.0,NaN
3700,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,2.0,150.0,NaN,NaN,NaN
3952,NaT,NaT,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4096,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4098,NaT,NaT,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [605]:
start = dt.datetime.strptime('1992-01-01 00:00:00', '%Y-%m-%d %H:%M:%S')
end = dt.datetime.strptime('2022-12-31 00:00:00', '%Y-%m-%d %H:%M:%S')
lawinen = lawinen.loc[(lawinen['DATUM'] > start) & (lawinen['DATUM'] < end)]
lawinen

,DATUM,ZEIT,Lawinen_Art,GRNR,Volumen,Wetter,WIND_RCHTG,WIND_GSCHW,Temperatur,Schneehoehe,Neuschnee,Gefahr,Bemerkung
291,1992-02-06 00:00:00,1899-12-30,Schneebrettlawine trocken,19.0,groß,Schneetreiben,NE,5.0,-5.0,129.0,20.0,34.0,NaN
353,1992-02-06 00:00:00,1899-12-30,Schneebrettlawine trocken,17.0,groß,Schneetreiben,N,5.0,-5.0,129.0,20.0,34.0,NaN
888,1992-02-06 00:00:00,1899-12-30,Schneebrettlawine trocken,21.0,groß,Schneetreiben,NE,5.0,-5.0,129.0,20.0,34.0,NaN
192,1992-02-13 00:00:00,1899-12-30,Schneebrettlawine trocken,30.0,mittel,bewölkt,SW,1.0,1.0,141.0,2.0,3.0,NaN
375,1992-02-13 00:00:00,1899-12-30,Schneebrettlawine naß,37.0,mittel,bewölkt,SW,1.0,1.0,141.0,2.0,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4091,2022-02-03 00:00:00,NaT,Schneebrettlawine trocken,33.0,mittel,bedeckt,NO,1.0,-4.0,140.0,15.0,4.0,NaN
4092,2022-02-03 00:00:00,NaT,Schneebrettlawine trocken,15.0,gross,bedeckt,NO,1.0,-4.0,140.0,15.0,4.0,NaN
4093,2022-02-03 00:00:00,NaT,Schneebrettlawine trocken,28.0,mittel,bedeckt,NO,-4.0,-4.0,140.0,15.0,4.0,NaN
4097,2022-02-08 00:00:00,NaT,Schneebrettlawine trocken,33.0,mittel,bedeckt,SW,20.0,-7.0,175.0,21.0,3.0,NaN
4099,2022-02-08 00:00:00,NaT,Schneebrettlawine trocken,43.0,klein,bewölkt,270,5.7,-1.0,175.0,21.0,3.0,NaN

In [606]:
#lawinen_katalog = pd.read_csv('data/Allg_Lawinen_Katalog.csv')
#lawinen['Lawinen_Name'] = lawinen['GRNR'].apply(lambda x: lawinen_katalog.loc[lawinen_katalog['GRNR']==x]['Lawinenname'].values[0] if x <= 42 else 'Alle Lawinen')
#lawinen['Lawinen_Name']

In [607]:
kaplawstr = pd.read_csv('data/kaplawstr.csv' ,sep=';')
#lawinen = pd.merge(lawinen, lawinen['Lawinen_Name'].apply(lambda x: kaplawstr.loc[kaplawstr['Lawinenstrich']==x]), left_index=True, right_index=True)
#lawinen
lawinen = pd.merge(lawinen, kaplawstr, left_on='GRNR', right_on='ID')
lawinen

,DATUM,ZEIT,Lawinen_Art,GRNR,Volumen,Wetter,WIND_RCHTG,WIND_GSCHW,Temperatur,Schneehoehe,...,Code_neu,Lawinenstrich,Text,xoff,yoff,Scale,ScaleW,ScaleH,OffX,OffY
0,1992-02-06 00:00:00,1899-12-30 00:00:00,Schneebrettlawine trocken,19.0,groß,Schneetreiben,NE,5.0,-5.0,129.0,...,50606019,Hintere Bärrinnenlawine,Kammerkees,400462.235231,224226.498170,6.867793,433,151,171,-44
1,1992-02-19 00:00:00,1899-12-30 00:00:00,Schneebrettlawine trocken,19.0,groß,wolkenlos,SW,1.0,-18.0,154.0,...,50606019,Hintere Bärrinnenlawine,Kammerkees,400462.235231,224226.498170,6.867793,433,151,171,-44
2,1992-04-28 00:00:00,1899-12-30 00:00:00,Lockerschneelawine naß,19.0,groß,bewölkt,S,14.0,2.0,167.0,...,50606019,Hintere Bärrinnenlawine,Kammerkees,400462.235231,224226.498170,6.867793,433,151,171,-44
3,1992-05-02 00:00:00,1899-12-30 00:00:00,Lockerschneelawine naß,19.0,groß,bewölkt,SW,5.0,-2.0,183.0,...,50606019,Hintere Bärrinnenlawine,Kammerkees,400462.235231,224226.498170,6.867793,433,151,171,-44
4,1992-05-03 00:00:00,1899-12-30 00:00:00,Lockerschneelawine naß,19.0,groß,bewölkt,SW,3.0,-1.0,172.0,...,50606019,Hintere Bärrinnenlawine,Kammerkees,400462.235231,224226.498170,6.867793,433,151,171,-44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2584,2021-12-04 00:00:00,1899-12-30 09:00:00,Staublawine,28.0,mittel,bedeckt,180,2.0,-1.0,74.0,...,50606028,Griesbachlawine,Winterkarl,401356.059692,226681.470933,8.296389,622,852,189,526
2585,2022-02-03 00:00:00,NaT,Schneebrettlawine trocken,28.0,mittel,bedeckt,NO,-4.0,-4.0,140.0,...,50606028,Griesbachlawine,Winterkarl,401356.059692,226681.470933,8.296389,622,852,189,526
2586,2013-04-21 00:00:00,NaT,Schneebrettlawine naß,5.0,mittel,wolkenlos,315,2.0,4.0,121.0,...,50606005,Lawine auf Kehre 6,Stausee Mooserboden,400147.298260,223483.021847,7.956891,449,397,319,275
2587,2018-04-20 00:00:00,NaT,Lockerschnee- und Schneebrettlawinen naß,9.0,klein,wolkenlos,5,2.0,12.0,110.0,...,50606009,Grubbachlawine,Stausee Mooserboden,399829.941089,223162.047562,8.805489,420,371,333,276
2588,2022-02-03 00:00:00,2022-02-03 00:00:00,Lockerschneelawine trocken,9.0,mittel,0,NO,5.0,0.0,NaN,...,50606009,Grubbachlawine,Stausee Mooserboden,399829.941089,223162.047562,8.805489,420,371,333,276

In [608]:
#polygon = pd.read_csv('data/polygon.csv')
#lawinen['Lawinen_Name'] = lawinen['Code_neu'].apply(lambda x: polygon.loc[polygon['LawID']==x]['Lawinenname'].values[0])
#lawinen['Lawinen_Name']

In [609]:
TOPP = pd.read_csv('data/TOPP.csv', sep=';')
TOPP

,Lawinencode,TEZCode,meanExpo,meanSlope,stdDevSlope,MinSlope,MaxSlope,Altitude
0,70912203,70912203001,125.259176,43.5393,5.9687,25.2201,55.7018,2344.8784
1,70912203,70912203002,122.557243,37.3054,5.7078,21.9953,47.9376,2265.7822
2,70912203,70912203003,93.615872,34.5118,5.8841,23.6521,57.4818,2357.8145
3,70912203,70912203004,73.136667,34.5328,5.5097,25.6617,62.4592,2377.9978
4,70912203,70912203005,50.172883,34.8550,3.8607,27.9332,48.6266,2373.5015
...,...,...,...,...,...,...,...,...
1900,70903114,70903114255,320.630211,38.9883,4.9080,31.8888,64.7424,2506.2554
1901,70903115,70903115256,187.629606,42.6524,5.0782,32.3354,62.2187,2217.8069
1902,70903123,70903123257,25.126780,31.1709,4.6480,22.7955,60.4927,2542.4233
1903,70903107,70903107258,42.784451,34.3546,6.9285,21.7052,66.3576,2862.5686
1904,70903114,70903114259,285.374241,43.6245,6.0381,30.7187,59.0417,2455.9546

In [610]:
TOPP = kaplawstr['Code_neu'].apply(lambda x: TOPP.loc[TOPP['Lawinencode'] == x].mean())

#TOPP = TOPP.groupby('Lawinencode').first().reset_index()

In [611]:
lawinen = pd.merge(lawinen, TOPP, left_on='Code_neu', right_on='Lawinencode')
lawinen

,DATUM,ZEIT,Lawinen_Art,GRNR,Volumen,Wetter,WIND_RCHTG,WIND_GSCHW,Temperatur,Schneehoehe,...,OffX,OffY,Lawinencode,TEZCode,meanExpo,meanSlope,stdDevSlope,MinSlope,MaxSlope,Altitude
0,1992-02-06 00:00:00,1899-12-30 00:00:00,Schneebrettlawine trocken,19.0,groß,Schneetreiben,NE,5.0,-5.0,129.0,...,171,-44,50606019.0,5.060602e+10,86.721312,43.193687,9.617375,0.000000,71.591813,2461.506438
1,1992-02-19 00:00:00,1899-12-30 00:00:00,Schneebrettlawine trocken,19.0,groß,wolkenlos,SW,1.0,-18.0,154.0,...,171,-44,50606019.0,5.060602e+10,86.721312,43.193687,9.617375,0.000000,71.591813,2461.506438
2,1992-04-28 00:00:00,1899-12-30 00:00:00,Lockerschneelawine naß,19.0,groß,bewölkt,S,14.0,2.0,167.0,...,171,-44,50606019.0,5.060602e+10,86.721312,43.193687,9.617375,0.000000,71.591813,2461.506438
3,1992-05-02 00:00:00,1899-12-30 00:00:00,Lockerschneelawine naß,19.0,groß,bewölkt,SW,5.0,-2.0,183.0,...,171,-44,50606019.0,5.060602e+10,86.721312,43.193687,9.617375,0.000000,71.591813,2461.506438
4,1992-05-03 00:00:00,1899-12-30 00:00:00,Lockerschneelawine naß,19.0,groß,bewölkt,SW,3.0,-1.0,172.0,...,171,-44,50606019.0,5.060602e+10,86.721312,43.193687,9.617375,0.000000,71.591813,2461.506438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2584,2021-12-04 00:00:00,1899-12-30 09:00:00,Staublawine,28.0,mittel,bedeckt,180,2.0,-1.0,74.0,...,189,526,50606028.0,5.060603e+10,275.521754,42.587179,7.489589,3.416216,71.133684,2555.368779
2585,2022-02-03 00:00:00,NaT,Schneebrettlawine trocken,28.0,mittel,bedeckt,NO,-4.0,-4.0,140.0,...,189,526,50606028.0,5.060603e+10,275.521754,42.587179,7.489589,3.416216,71.133684,2555.368779
2586,2013-04-21 00:00:00,NaT,Schneebrettlawine naß,5.0,mittel,wolkenlos,315,2.0,4.0,121.0,...,319,275,50606005.0,5.060601e+10,2.980625,37.066700,6.003100,13.586900,50.025850,1967.563900
2587,2018-04-20 00:00:00,NaT,Lockerschnee- und Schneebrettlawinen naß,9.0,klein,wolkenlos,5,2.0,12.0,110.0,...,333,276,50606009.0,5.060601e+10,68.013048,34.367700,3.891300,19.264000,41.614200,1879.884500
2588,2022-02-03 00:00:00,2022-02-03 00:00:00,Lockerschneelawine trocken,9.0,mittel,0,NO,5.0,0.0,NaN,...,333,276,50606009.0,5.060601e+10,68.013048,34.367700,3.891300,19.264000,41.614200,1879.884500

In [612]:
lawinen.to_csv('newData/lawinen_abgänge.csv', index=True)

In [613]:
mooser_wetter_daten = pd.read_csv('data/Mooser_Wetter_Daten.csv', sep=';')
mooser_wetter_daten

,Datum,Intervall,Lawinengrad,Lawinengrad_Norm,Lawinengrad_Gew,Schneehöhe,Schneehöhe_Norm,Schneehöhe_Gew,Niederschlag,Niederschlag_Norm,...,Neuschnee,Neuschnee_Norm,Neuschnee_Gew,Lawinenabgänge,Lawinenabgänge_Norm,Lawinenabgänge_Gew,Winterphase,Winterphase_Norm,Winterphase_Gew,Distanz
0,1956-11-29 00:00:00,1956/ 1957,0,0,0,113,215.978593,0,1.9,0,...,23.0,230,99999.0,0,0,0,0,0,0,7.995743e+07
1,1956-11-30 00:00:00,1956/ 1957,0,0,0,116,196.166855,0,2.5,0,...,7.0,70,99999.0,0,0,0,0,0,0,9.966613e+06
2,1956-12-01 00:00:00,1956/ 1957,0,0,0,124,225.198638,0,0.0,0,...,10.0,100,99999.0,0,0,0,0,0,0,9.966626e+06
3,1956-12-02 00:00:00,1956/ 1957,44,0,0,121,220.607735,0,2.5,0,...,0.0,0,144.0,0,0,0,0,0,0,3.750985e+02
4,1956-12-03 00:00:00,1956/ 1957,0,0,0,110,199.779857,0,11.0,0,...,2.0,20,37.0,0,0,0,0,0,0,3.575917e+02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,2022-02-08 00:00:00,2021/ 2022,33,0,0,175,162.359178,0,16.0,0,...,21.0,210,100.0,1,0,0,0,0,0,NaN
9574,2022-02-09 00:00:00,2021/ 2022,33,0,0,155,141.483293,0,8.0,0,...,0.0,0,240.0,0,0,0,0,0,0,NaN
9575,2022-02-10 00:00:00,2021/ 2022,33,0,0,149,134.537246,0,0.0,0,...,0.0,0,73.0,0,0,0,0,0,0,NaN
9576,2022-02-11 00:00:00,2021/ 2022,22,0,0,144,129.792371,0,0.0,0,...,0.0,0,21.0,0,0,0,0,0,0,NaN
9577,2022-02-12 00:00:00,2021/ 2022,22,0,0,149,132.381406,0,7.0,0,...,10.0,100,0.0,0,0,0,0,0,0,NaN

In [614]:
mooser_wetter_daten['Datum'] = mooser_wetter_daten['Datum'].apply(lambda x: dt.datetime.strptime(x,'%Y-%m-%d %H:%M:%S') if type(x)==str else pd.NaT)
mooser_wetter_daten = mooser_wetter_daten.loc[(mooser_wetter_daten['Datum'] > start) & (mooser_wetter_daten['Datum'] < end)]

In [615]:
lawinen['DATUM'] = pd.to_datetime(lawinen['DATUM'])


gesamt_df = pd.merge(mooser_wetter_daten, lawinen, right_on='DATUM', left_on='Datum', how='outer')
gesamt_df

,Datum,Intervall,Lawinengrad,Lawinengrad_Norm,Lawinengrad_Gew,Schneehöhe,Schneehöhe_Norm,Schneehöhe_Gew,Niederschlag,Niederschlag_Norm,...,OffX,OffY,Lawinencode,TEZCode,meanExpo,meanSlope,stdDevSlope,MinSlope,MaxSlope,Altitude
0,1992-01-02,1991/ 1992,0.0,0.0,0.0,120.0,149.416342,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1992-01-03,1991/ 1992,0.0,0.0,0.0,120.0,144.796380,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1992-01-04,1991/ 1992,0.0,0.0,0.0,114.0,134.216336,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1992-01-05,1991/ 1992,0.0,0.0,0.0,110.0,131.490474,0.0,2.9,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1992-01-06,1991/ 1992,0.0,0.0,0.0,107.0,129.696970,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6542,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,293.0,435.0,50606034.0,5.060603e+10,281.076869,43.656950,4.415100,32.175950,52.052100,1944.962150
6543,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,526.0,50606028.0,5.060603e+10,275.521754,42.587179,7.489589,3.416216,71.133684,2555.368779
6544,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,339.0,180.0,50606006.0,5.060601e+10,298.144745,41.673113,7.147100,0.000000,65.409112,2735.163400
6545,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,441.0,21.0,50606010.0,5.060601e+10,267.169200,43.175287,6.860250,11.513050,65.976500,2978.152008
6546,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,526.0,50606028.0,5.060603e+10,275.521754,42.587179,7.489589,3.416216,71.133684,2555.368779

In [616]:
#gesamt_df['meanExpo'].replace(np.nan, TOPP.sample(1)['meanExpo'].values[0], inplace=True)

for i in gesamt_df.index:
    if(pd.isnull(gesamt_df['meanExpo'][i])):
        gesamt_df['meanExpo'][i] = TOPP.sample(1)['meanExpo'].values[0]
        gesamt_df['meanSlope'][i] = TOPP.sample(1)['meanSlope'].values[0]
        gesamt_df['stdDevSlope'][i] = TOPP.sample(1)['stdDevSlope'].values[0]
        gesamt_df['MinSlope'][i] = TOPP.sample(1)['MinSlope'].values[0]
        gesamt_df['MaxSlope'][i] = TOPP.sample(1)['MaxSlope'].values[0]
        gesamt_df['Altitude'][i] = TOPP.sample(1)['Altitude'].values[0]
gesamt_df

/var/folders/xc/49zm43dj0sdcz0pp9m82j7gh0000gn/T/ipykernel_7601/973999754.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gesamt_df['meanExpo'][i] = TOPP.sample(1)['meanExpo'].values[0]
/var/folders/xc/49zm43dj0sdcz0pp9m82j7gh0000gn/T/ipykernel_7601/973999754.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gesamt_df['meanSlope'][i] = TOPP.sample(1)['meanSlope'].values[0]
/var/folders/xc/49zm43dj0sdcz0pp9m82j7gh0000gn/T/ipykernel_7601/973999754.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gesamt_df['stdDevSlope'][i] = TOPP.sample(1)['stdDevSlope'].values[0]
/var/folders/xc/49zm43dj0sdcz0pp9m82j7gh0000gn/T/ipykernel_7601/973999754.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gesamt_df['MinSlope'][i] = TOPP.sample(1)['MinSlope'].values[0]
/var/folders/xc/49zm43dj0sdcz0pp9m82j7gh0000gn/T/ipykernel_7601/973999754.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gesamt_df['MaxSlope'][i] = TOPP.sample(1)['MaxSlope'].values[0]
/var/folders/xc/49zm43dj0sdcz0pp9m82j7gh0000gn/T/ipykernel_7601/973999754.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gesamt_df['Altitude'][i] = TOPP.sample(1)['Altitude'].values[0]

,Datum,Intervall,Lawinengrad,Lawinengrad_Norm,Lawinengrad_Gew,Schneehöhe,Schneehöhe_Norm,Schneehöhe_Gew,Niederschlag,Niederschlag_Norm,...,OffX,OffY,Lawinencode,TEZCode,meanExpo,meanSlope,stdDevSlope,MinSlope,MaxSlope,Altitude
0,1992-01-02,1991/ 1992,0.0,0.0,0.0,120.0,149.416342,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,264.471932,40.891475,7.317475,0.000000,65.409112,1719.594455
1,1992-01-03,1991/ 1992,0.0,0.0,0.0,120.0,144.796380,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,2.980625,41.103233,6.860250,6.016000,54.985633,1940.334000
2,1992-01-04,1991/ 1992,0.0,0.0,0.0,114.0,134.216336,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,307.979147,38.311700,6.966050,7.606200,61.018300,1719.594455
3,1992-01-05,1991/ 1992,0.0,0.0,0.0,110.0,131.490474,0.0,2.9,0.0,...,NaN,NaN,NaN,NaN,260.468688,46.236500,5.320700,0.000000,57.450533,2461.506438
4,1992-01-06,1991/ 1992,0.0,0.0,0.0,107.0,129.696970,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,83.428097,42.224050,7.696246,14.436825,71.692138,1472.435275
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6542,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,293.0,435.0,50606034.0,5.060603e+10,281.076869,43.656950,4.415100,32.175950,52.052100,1944.962150
6543,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,526.0,50606028.0,5.060603e+10,275.521754,42.587179,7.489589,3.416216,71.133684,2555.368779
6544,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,339.0,180.0,50606006.0,5.060601e+10,298.144745,41.673113,7.147100,0.000000,65.409112,2735.163400
6545,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,441.0,21.0,50606010.0,5.060601e+10,267.169200,43.175287,6.860250,11.513050,65.976500,2978.152008
6546,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,189.0,526.0,50606028.0,5.060603e+10,275.521754,42.587179,7.489589,3.416216,71.133684,2555.368779

In [617]:
gesamt_df.to_csv('newData/gesamt_set.csv', index=False)